body {
    font-family:Georgia,"Times New Roman",Times,serif;
    background-color: gray;
}
.base {
    width:980px;
    height:1386px;
    margin: 0 auto;
    background-color: #ffffff;
}
.header{
    width:110px;
    height:61px;
    background-color: #d45d5c;
    color:#ffffff;
    padding-left:5px;
    margin-left: 44px;
}
.header div {padding-top:40px;}
.line1 {
    margin:10px 0;
    margin-left:44px;
    width:892px;
    border-bottom:2px solid #938e8c;
    float:left;
}
.image{
    width:641px;
    height: 301px;
    float: left;
    margin-left: 44px;
}
.right{
    float: right;
    margin-right: 44px;
}
.line2 {
    width:203px;
    border-bottom:2px solid #cc8091;
}
.text1 {
    text-decoration:underline;
    line-height:20px;
    margin-top:10px;
}
.text1 .big {
    font-size:24px;
}
.text2 {
    line-height:5px;
    font-family: 楷体;
    font-size: 12px;
    color: #676767;
}
.number1 {
    font-family:微软雅黑;
    font-size:116px;
    color:#75b86b;
    margin-top:-22px;
}
.text3 {
    font-family:微软雅黑;
    color:#cc8091;
    margin-top:-5px;
}
.number2 {
    font-size:55px;
    float:left;
}
.text4 {
    float:left;
    line-height:0px;
    margin-top:10px;
}
.size1 {
    font-size:21px;
}
.size1+p {
    font-size:12px;
}
.middle-text {
    width:641px;
    margin-left:44px;
}
.text5 {
    width:31%;
    float:left;
    margin-right:3%;
}
.text6 {
    width:31%;
    float:left;
    /*margin-right:3%;*/
}
.title {
    line-height:60px;
    text-decoration:underline;
    font-family:微软雅黑;
    font-size:16px;
    /*color: #418c59;*/
}
.title.color1 {
    color: #418c59;
}
.title.color2 {
    color: #d2994f;
}
.title.color3 {
    color: #cc7680;
}
.text7 {
    margin-top:-20px;
    font-family:宋体;
    font-size:12px;
    color: #767777;
}
.left {
    float:left;
    margin-left:44px;
}
.text8 {
    font-family:黑体;
    font-size:72px;
    color:#f5e327;
}
.distance1 {
    margin-left:10px;
}
.distance2 {
    margin-top:-10px;
}
.distance3 {
    margin-top:-40px;
}
.font {
    font-family:黑体;
}
.size2 {
    font-size:42px;
}
.size3{
    font-size:33px;
}
.color4 {
    color:#11456b;
}
.line3 {
    border-bottom:2px solid #11456b;
    width:415px;
    margin-top:-20px;
}
.surround1 {
    font-family:微软雅黑;
    font-size:70px;
    color:#f5e327;
    float:left;
    margin:5px;
}
.surround2 {
    margin:10px;
}
.text9 {
    width:415px;
    padding:10px;
    font-family:宋体;
    font-size:12px;
    color:#767777;
    line-height:16px;
}
.indent {
    margin-top:-10px;
    text-indent:23px;
}
li i {
    font-size:12px;
    text-align:right;
}
.left1 {
    float:left;
}
.list {
    padding:20px 10px 0 15px;
    width:435px;
    height:320px;
    background-color:#FFF0AC;
    margin-top:35px;
}
.list-text {
    line-height:40px;
    letter-spacing: 2px;
    font-size:16px;
    color:#5a5b5b;
    text-align:left;
}
.buttom-left {
    width:270px;
    height:164px;
    background-color:#d45d5c;
    margin-left:-15px;
}
.number3 {
    font-size:110px;
    color:#ffffff;
    margin-left:2px;
}
.line4 {
    height:86px;
    border-right:2px solid #ffffff;
    margin-top:30px;
}
.text10 {
    color:#ffffff;
    margin:-100px 0 0 74px;
}
.text11 {
    font-size:21px;
    line-height:10px;
}
.text12 {
    font-size:12px;
    line-height:2px;
}
.line5 {
    margin-top:1250px;
    margin-left:44px;
    width:892px;
    border-bottom:1px solid #938e8c;
}
.right1 {
    float:right;
    width:150px;
}
.right2 {
    float:right;
}
.left-quotes {
    margin-bottom:-60px;
    font-size:72px;
    color:#d45d5c;
}
.right-quotes {
    margin-left:-40px;margin-top:110px;font-size:72px;color:#d45d5c;
}
.text13 {
    margin:5px -30px 0 2px;
    font-size:14px;
    color:#5a5b5b;
}