body {
    min-width: 830px;
    /*background-color: black;*/
}
.header {
    /*background-color: #ffffff;*/
    display: block;
    width: 100%;
    height: 55px;
    /*margin-top: -8px;*/
    /*padding: 10px 20px;  */
}
.header img {
    margin-left: 30px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.header-text {
    margin: 8px 10px 0 10px;
    font-size: 20px;
}
a {
    text-decoration:none;
}
.nav_bar {
    padding-right: 20px;
}
.nav_bar ul li {
    /*float: left;*/
    list-style: none;
    float: left;
    margin: 0px 20px;
    font-family: 黑体;
    font-size: 17px;
    cursor: pointer;
}
.nav_bar ul li a {
     color: #adadad;
}
.nav_bar ul li b {
    color: #f75000;
}
.nav_bar li:hover {
    border-bottom: 3px solid #f75000;
}
.bg_img {
    width: 100%;
    height: 620px;
    margin-top: -1px;
    /*background-color: #fff;*/
    position: relative;
    /*padding: 10px 20px 0 30px;*/
}
.bg_img img {
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    position: relative;
}
.bg_img .bg_btn {
    position: absolute;
    width: 331px;
    height: 65px;
    top: 360px;
    left: 125px;
    background-color: #E74F4D;
    color: #fff;
    font-family: 微软雅黑;
    font-size: 30px;
    text-align: center;
    padding-top: 14px;
    /*text-decoration: none;*/
}
.bg_foot {
    width: 100%;
    /*padding: 10px 30px;*/
    /*background-color: #fff;*/
    text-align: center;
    color: #767677;
    overflow: auto;
}
.bg_foot_one {
    width: 20%;
    margin: 10px;
    margin-left: 2%;
    padding: 30px 0 0 10px;
}
.bg_foot .bg_foot_one p {
    padding: 20px 35px;
}
.bg_text {
    width: 100%;
    text-align: center;
    background-color: #EDECEC;
}
.bg_text img {
    /*width: 55px;
    height: 60px;*/
    margin-top: 80px;
}
.bg_text p {
    font-family: 黑体;
    font-size: 54px;
    color: #707038;
    padding-bottom: 80px;
}
.middle_img {
    position: relative;
}
.middle_img img {
    width: 100%;
    height: 400px;
    margin-top: -54px;
}
.middle_sel {
    position: absolute;
    top: 40%;
    width: 18%;
    height: 42px;
    padding-left: 5px;
}
.sel1 {
    left: 10%;
    color: #afaf61;
    font-size: 15px;
}
.sel2 {
    left: 31%;
    color: #afaf61;
    font-size: 15px;
}
.sel3 {
    left: 52%;
    color: #afaf61;
    font-size: 15px;
}
button {
    background-color: #E74F4D;
    font-size: 17px;
    color: #fff;
    left: 73%;
    border: none;
    word-spacing: 20px;
}
.activity {
    overflow: auto;
    width: 100%;
    background-color: #F7F7F7;
    display: block;
    margin-top: -5px;
    padding: 20px 0 50px 0;
}
.act_one {
    margin: 100px 0 0 11%;
    text-align: center;
    width: 17%;
    height: 50%;
}
.activity img {
    border: 1px solid #ccc;
    padding: 10px 7px;
    width: 90%;
    height: 80%;
}
.activity h4 {
    line-height: 8px;
}
.activity p {
    line-height: 4px;
    color: #A8A9AA;
    font-size: 12px;
}
.act_two {
    margin: 100px 0 0 3%;
    text-align: center;
    width: 17%;
    height: 50%;
}
.newWorld {
    width: 100%;
    /*height: 570px;*/
    overflow: auto;
}
.newWorld_left {
    width: 65%;
    height: 100%;
    margin: 0;
}
.newWorld_left img {
    width: 100%;
    height: 100%;
}
.newWorld_right {
    width: 32%;
    text-align: center;
    padding: 10px 10px 0;
}
.newWorld_right h3 {
    margin-top: 17%;
}
.newWorld_right h3 span{
    /*line-height: 10px;*/
    color: #E74F4D;
}
.newWorld_right p {
    margin: 3% 5% 10% 6%;
    color: #A8A9AA;
    font-size: 13px;
    line-height: 26px;
    text-align: left;
}
.newWorld_right a {
    color: #E74F4D;
    font-size: 15px;
    border: 1px solid #E74F4D;
    padding: 5px 15px;
}
.list {
    list-style: none;
    margin:8% 0 0;
    padding:0;
}
.list li {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #999;
    background-color: #999;
    display: inline-block;
    cursor: pointer;
}
.list li+li {
    background-color: #fff;
}
.list .newWorld_mid {
    margin: 0 10px;
}
.newTime {
    width: 100%;
    height: 500px;
    margin-top: -23px;
    text-align: center;
    overflow: hidden;
    }
.newTime .newTime_one {
    width: 33%;
    height: 100%;
    background-color: #E74F4D;
    color: #fff;
}
.newTime h3 {
    padding-top: 150px;
    line-height: 10px;
}
.newTime p {
    font-size: 19px;
}
.newTime_bd {
    color: #fff;
    margin: -10px 0 30px;
}
.newTime .newTime_one a {
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 35px;
}
.newTime_two {
    width: 32%;
    height: 100%;
    background-color: #fff;
    color: black;
}
.newTime_two a {
    font-size: 20px;
    color: #E74F4D;
    border: 1px solid #E74F4D;
    padding: 7px 35px;
}
.newTime_three {
    width: 35%;
}
.newTime_three image{
    width: 100%;
    height: 500px;
}
.volunteer {
    width: 100%;
    height: 250px;
    margin-top: -24px;
    padding-top: 110px;
    /*margin: 110px 32%;*/
    text-align: center;
    background-color: #fcfcfc;
}
/*.volunteer h3 {
    padding: 110px 0 -20px;
}*/
.volunteer p {
    color: #afaf61;
    font-size: 14px;
    margin: 18px 32%;
}
.volunteer p b {
    color: #E74F4D;
}
.apply {
    width: 100%;
    padding-bottom: 80px;
    /*height: 380px;*/
    background-color: #fcfcfc;
    /*padding: 10px 10%;*/
    overflow: auto;
}
.apply_left {
    width: 30%;
    margin: -20px 4% 0 12%;
}
.apply_left .left_text {
    margin-bottom: 45px;
}
.apply_left .left_text h3 {
    color: #707038;
    line-height: 22px;
}
.apply_left .left_text p {
    color: #a5a552;
    font-size: 15px;
    line-height: 25px;
}
.apply_left .left_text span {
    float: right;
    font-size: 13px;
    color: #a5a552;
    margin: -22px 15px 0 0;
}
.apply_form {
    width: 46%;
    height:100%;
}
.apply_form input {
    display: inline-block;
    width: 42%;
    height: 41px;
    background-color: #EDEDEF;
    font: normal 12px "微软雅黑";
    line-height: 41px;
    color: #4f4f4f;
    padding-left: 15px;
    margin: 0 1% 20px 5px;
    border:none;
}
.apply_form textarea {
    background-color: #EDEDEF;
    font: normal 12px "微软雅黑";
    border:none;
    color: #4f4f4f;
    padding: 8px 0 0 15px;
    margin-left: 5px;
    width: 89%;
    min-width: 350px;
    max-height: 120px;
}
.apply_form button {
    width: 91%;
    min-width: 365px;
    margin-left: 5px;
    padding: 10px 30%;
    background-color: #EDEDEF;
    font-size: 16px;
    color: #3c3c3c; 
    margin-top: 5px;
}
.footer{
    width: 100%;
    height: 378px;
    background-color: #32353E;
    padding-top: 57px;
    text-align: center;
}
.footer .footer_text {
    color:#fff;
    margin: 0 26%;
}
.footer .footer_text p {
    font-size: 13px;
    line-height: 25px;
}
.footer input {
    width: 30%;
    height: 25px;
    padding: 5px 10px;
    margin-top: 20px;
}
.footer button {
    width: 10%;
    height: 37px;
    margin-top: 20px;
    padding: 4px 10px;
}
.footer img {
    margin: 25px 0 45px;
}
.footer_foot {
    width: 100%;
    height: 80px;
    background-color: #303039;
}
.footer .footer_foot div ul {
    list-style: none;
    overflow: hidden;
}
.footer .footer_foot div ul li {
    display: inline-block;
    color: #fff;
    font: normal 14px/60px "黑体";
}
.footer .footer_foot div ul li a {
    text-decoration: none;
    color: #fff;
    padding-right: 30px;
}